<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teachertipsforparents.bullybx" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.ReportBullyingActivity"
            android:label="@string/title_activity_report_bullying" >
        </activity>
        <activity
            android:name=".activities.FirstUseActivity"
            android:label="@string/title_activity_first_use" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ViewYourReportsActivity"
            android:label="@string/title_activity_view_your_reports" >
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".activities.ViewSelectedReportActivity"
            android:label="@string/title_activity_view_selected_report" >
        </activity>
    </application>

</manifest>
